# ignore the python class files (.pyc)
__pycache__/

# ignore the log file
ft.log

# ignore the output csv files
*.csv

# ignore the input excel files
*.xls
*.xlsx

# keep everything including excel files in the samples directory
!samples/*
