# The configuration file for ft_converter
#

[logging]
log_file=ft.log

# log level: debug, info, warning, error, critical
log_level=debug

# the directory to store log file, if store in current directory, leave it empty.
# do not put "\" at the end of the directory.
directory=
# directory=C:\Program Files\Git\git



[excel]

# Excel datemode for windows is 0, for mac is 1
datemode = 0



[input]

# where to look for input trade files or folder. Leave it empty in current 
# directory.
#directory=C:\Users\steven.zhang\Desktop\data conversion\ListCo Equity 12307
directory=



[output]

# where to create output csv files. Leave it empty if the same as input 
# directory.
directory=